server:
  port: 8087
  error:
    include-message: always

spring:
  datasource:
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 5
    url: jdbc:postgresql://localhost:5434/pgdb
    username: user
    password: password
  jpa:
    properties:
      hibernate:
        jdbc:
          batch_size: 5
          order_inserts: true
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

destination-service:
  url:
  clientId:
  clientSecret:
  baseTokenUrl: 